#chatbot {
  position: fixed;
  bottom: 20px;
  width: 200px;
  height: 300px;
  background-color: #299ce8;
  padding: 5px 45px;
  left: calc(100% - 45px);
  overflow-y: auto;
  /* border-radius: 10px; */
  transition: 0.5s;
}

#form_chatbot {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 100%;
  min-height: 100%;
}
#form_chatbot input {
  align-self: flex-start;
  margin: 5px;
}

.show {
    left: calc(100% - 290px) !important;
}